# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# Telegram
*.session
*.session-journal

# Logs
logs/
*.log

# Data Lake (raw data)
data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
config/
# Ignore YOLO weights
yolo8n.pt
# or if in a folder, e.g., weights/
weights/yolo8n.pt

